/*Fonts*/
@font-face {
    font-family: 'jacques_francoisregular';
    src: url('../css/fonts/jacquesfrancois-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/jacquesfrancois-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../css/fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubikregular';
    src: url('../css/fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('../css/fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'artifikamedium';
    src: url('../css/fonts/artifika-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/artifika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelblack';
    src: url('../css/fonts/cinzel-black-webfont.woff2') format('woff2'),
         url('../css/fonts/cinzel-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelbold';
    src: url('../css/fonts/cinzel-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/cinzel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzel_decorativeblack';
    src: url('../css/fonts/cinzeldecorative-black-webfont.woff2') format('woff2'),
         url('../css/fonts/cinzeldecorative-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzel_decorativebold';
    src: url('../css/fonts/cinzeldecorative-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/cinzeldecorative-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Base Styles*/
body{
	margin: 0;
	padding: 0;
	background-image: url("../images/reef_back_trim.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	color: black;
	font: 1em/1.2 rubikregular, Helvetica, Arial, Geneva,sans-serif;
	}
						
h1,h2,h3,h4,h5,h6 {
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
	}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { display:none; } /* h6 is hidden */

body h1,h2,h3 { 
	padding-top:.5em; 
	font-family:'kaushan_scriptregular';	
	}

p	{
	margin: 0 0 1.5em;
	line-height: 1.5;
	}

hr {
	height: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
	border-top: 1px solid #ddd;
	}

th, td	{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
	}

						
a:link { color: #FE9920; }
a:visited { color: white; }
a:focus { color: black; }
a:hover { color: #5DBC31; }
a:active { color: red; }
			
	
/* Main id elements*/

#header  {
	color: #fff;
	padding:.5em .5em;
	text-align: right;
	}

#header h1 {
	font-family:'cinzel_decorativeblack';
	font-size: 2.75em;
}

	
#copyright   {
	background-color:#173f79;
	clear:both;
	color:white;
	text-align:center;
	font-size: 0.7em;
	padding:  .1em .5em;
	box-shadow: -5px 5px 5px #666;
	}
	
#footerlinks   {
	background-color:#173f79;
	clear:both;
	color:white;
	text-align:center;
	font-size: 0.7em;
	padding: .5em .5em;
	}	
	
#footerlinks a  {
	padding:  .5em .5em;
	color: white;
	text-decoration: none;
	}
						
#footerlinks a:link { color: white; }
#footerlinks a:visited { color: #c0d8e0; }
#footerlinks a:focus { color: #FA7921; }
#footerlinks a:hover { color: #FE9920; }
#footerlinks a:active { color: red; }


/* Major clases*/
		
/*Page Structure*/

/* Flexbox Layout*/
.silky {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.silky-header,
.silky-footer {
	flex: none;
}

.silky-body {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	padding:0 0;
	}

.silky-content {
	margin-top: 0;
	}

.silky-nav {
	order: -1;
}

.silky-ads {
	padding: 1em;
	border-radius: 3px;
}

@media (min-width: 769px) {
  .silky-body {
    flex-direction: row;
  }
  
  .silky-content {
    flex: 1;
    padding: 0;
    margin: 0;
  }
  
  .silky-nav, .silky-ads {
    flex: 0 0 10em;
  }
}
	
/* Top Nav*/
.topnav {
  overflow: hidden;
  background-color: #00469d;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  position:right;
  text-align: center;
  padding: .75em 1em;
  text-decoration: none;
  font-family:'artifikamedium';
  font-size: 1.1em;
  cursor: pointer; 
}

.topnav a:hover {
  background-color: #FE9920;
  color: white;
}

.topnav .icon {
  display: none;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 550px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
}

.topnav-active {
	background-color:#44355b;
	}
	
/* Sub Nav*/
.subnav {
  overflow: hidden;
  background-color: #333232;
}

.subnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: .75em 1em;
  text-decoration: none;
  font-family:'capture_itregular';
  font-size: 1.1em;
  cursor: pointer; 
}

.subnav a:last-child {
	background-color: #5DBC31;
	font-style: italic;
	}
	
.subnav a:hover {
  background-color: #FE9920;
  color: white;
}

.subnav .icon {
  display: none;
}

/* MEDIA QUERIES*/
@media (min-width: 769px) {
	.subnav a {
	width:80%;
	}
}
	
/*Containers*/
	
/*generic container*/
.container {
	margin: 0 ;
	}
	


/* Details Container*/
.container-details {
	background-color:white;
	border-radius: 15px;
	margin:.5em;
	padding:1em;
	width: 90%;
	margin: 2em auto;
	overflow; hidden;
	
	}

.container-details p {
	text-align: left;
    text-indent: 2em;
	padding:.5em;
}

/*Buttons*/


/*Span clases*/	


/*Red Text*/	
.red {
	color:red;
	}	
 
/*Header Font */	
.silky-header h1 {
	font-family:'capture_itregular'; 
	font-size:2.5em;
	}
	
/*Table Styles*/


/*List Styles*/	

/*Inline list*/
.list-inline	{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	}

.list-inline > li   {
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	}

/* Unstyled list*/	
.list-unstyled{
	padding-left: 0;
	list-style: none;
	}
	
/*General list*/	
.list-general li {
	padding-top:.5em;
	padding-left:.5em;
	}

/* Image Styles*/

/*Responsive images*/
.img-responsive {
	max-width:100%;
	}	
/* Wrap text around image*/
.img-wrap {
	float:left;
	margin: 0 1em 1em 1em;
}	
